@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

@font-face {
    font-family: 'Eczar';
    src: url('/fonts/Eczar-VariableFont_wght.ttf');
    font-style: medium;
    font-weight: normal;
    font-display: swap;
}
/* 
.myName{
   color: red;
} */
